

.carousel{
    background: #535151;
    margin-top: 0px;
}
.carousel-item{
    text-align: center;
    min-height: 220px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}




hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr.style-top{
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

hr.style-two {
border: 0;
height: 1px;
background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

p, h1, h2, h3 {
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
text-align: center;
}

.jumbotron {
padding-top: 5px;
padding-bottom: 5px;
margin-bottom: 0px;
}


.imagem {
display: block;
margin-left: auto;
margin-right: auto;
}

.cor1{
background-color: green;
}